@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";


html {
  font-size: $base-font-size;
  font-family: $main-font;
}

h1 {
  font-family: "OpenSans-LightItalic";	
}

p {
  font-family: "OpenSans-ExtraBold";	
}

p.go {
	font-family: "OpenSans-ExtraBoldItalic";
}

//Модули
@import "modules/modules";
