extends template/main

block variables
	- var title = 'Главная страница';
	- var pageClass = 'index-page';

block content
	.container
		.row
			.box.col
			.box.col
			.w-100
			.box.col
			.box.col
			.box.col
			.w-100
			.box.col
			.w-100
			.box.col
			.box.col
			.box.col
			.box.col
		.row.justify-content-md-center
			.box.col-2
			.box.col-2
	.container
		.row
			.box.col
			.box.col
			.box.col
			.box.col
			.box.col
			.box.col









