// Colors
$white: #ffffff
$black: #000000
$bg-color: #eaeaea
$accent: orange


// Fonts
$base-font: "OpenSans", sans-serif
$base-font-size: 16px


// Width of content
$content-size: 1120px



//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: ( xs: 576px, sm: 768px, md: 992px, lg: 1200px )


