//
//  CASTOMIZATION OF VARIABLES IN A PROJECT
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Colors
$white: #ffffff
$black: #000000
$bg-color: #eaeaea
$accent: orange


// Fonts
$main-font: "Raleway-Regular", sans-serif
$main-font-size: 30px





//
//  CASTOMIZATION BOOTSTRAP-GRID
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Сдесь можно переопределить стандартные значения переменных 
// использующихся для расчёта сетки
// изначально эти переменные находятся в файле 
// node_modules/bootstrap-4-grid/scss/grid/_variables.scss
//
// Переопределённые значения
// xxs  :         // "phone"
// xs	: 460px,  // "phone-wide"
// sm	: 540px,  // "phablet" 
// smd	: 600px,  // "tablet-small"
// md	: 720px,  // "tablet"
// lg	: 980px,  // "tablet-wide"
// xl	: 1200px, // "desktop"
// xxl	: 1400px  // "desktop-wide"

$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xxs: 0, xs: 480px, sm: 560px, smd: 640px, md: 768px, lg: 1024px, xl: 1248px, xxl: 1440px)
$container-max-widths: (xs: 460px, sm: 540px, smd: 600px, md: 720px, lg: 980px, xl: 1200px, xxl: 1400px)




// Стандартные значения Bootstrap
// $grid-gutter-width: 30px
// $grid-columns: 12
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
// $container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)








// // Width of content
// $content-size: 1120px